@media print {
    :root {
        /* Sizing variables */
        --base-font-size: 10pt;
        --line-height: 1.4;
        --h1-font-size: 1.8rem;
        --h2-font-size: 1.2rem;
        --h3-font-size: 1.1rem;
        --small-font-size: 9pt;
        --page-padding: 0cm;
        --container-gap: 0cm;
        --header-padding: 2rem;
        --page-margin: 0.3cm;
        --margin-bottom-header: 0.4cm;
    }

    body {
        margin: 0px;
        padding: 0px;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    @page {
        size: A4;
        margin: 0; /* Remove browser default margins */
        padding: 0;
    }

    body, #app {
        background-color: var(--container-bg-color);
        font-size: var(--base-font-size);
        line-height: var(--line-height);
    }

    #app {
        margin: 0px;
        box-shadow: none;
        border-radius: 0;
        height: 297mm;
        width: 210mm;
        overflow: visible;
        display: flex;
        flex-direction: column;
        padding: var(--page-padding);
        box-sizing: border-box; /* Ensure padding is included in the height/width */
    }

    #languages {
        display: none;
    }

    header {
        padding: var(--header-padding);
        text-align: left;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 2px solid var(--primary-color);
    }

    header .title {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    header .title img {
        width: 80px;
        height: 80px;
        border-width: 2px;
    }

    header h1 {
        font-size: var(--h1-font-size);
        margin: 0;
    }

    header .sub-title {
        font-size: 1rem;
        margin: 0;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: var(--container-gap);
        padding: var(--margin-bottom-header) 0px;
        flex-grow: 1;
        overflow: visible;
    }

    h2 {
        font-size: var(--h2-font-size);
        margin-top: 0.5rem;
        margin-bottom: 0.4rem;
    }

    h3 {
        font-size: var(--h3-font-size);
        margin-bottom: 0.2rem;
    }

    .left{
        margin-left: var(--page-margin);
    }

    .right{
        margin-right: var(--page-margin);
    }

    .left, .right {
        overflow: visible;
    }

    .contacts .item, .skills .skill, .languages li {
        margin-bottom: 0.2rem;
    }
    
    .contacts .item span, .contacts .item a {
        font-size: var(--small-font-size);
    }

    .skills {
        grid-template-columns: repeat(3, 1fr);
        gap: 0 0.5rem;
    }

    .skills .skill span {
        font-size: var(--small-font-size);
        margin-bottom: 0.2rem;
    }

    .skills .circles {
        gap: 0.2rem;
    }

    .skills .circle {
        width: 8px;
        height: 8px;
    }

    .experiences .content > li {
        margin-bottom: 0.4rem;
        padding-left: 0.8rem;
    }

    .experiences .content > li::before {
        width: 8px;
        height: 8px;
        left: -5px;
    }

    .experiences h3 {
        margin-bottom: 0.1rem;
    }

    .experiences ul li {
        margin-bottom: 0.2rem;
    }

    .experiences ul li ul li {
        margin-left: 0px;
        margin-bottom: 0.4cm;
    }

    .experiences ul li ul li ul li {
        margin-top: 0.05cm;
    }

    * {
        box-shadow: none !important;
        text-shadow: none !important;
        transition: none !important;
    }
}