body {
    -webkit-print-color-adjust: exact !important;
    margin: 0px;
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 0mm;
        margin-right: 0mm;
    }
}

#languages{
    display: none;
}

#giovanniscarpellino-cv {
    max-height: 297mm;
    max-width: 210mm;
    width: 210mm;
    height: 297mm;
    margin: auto;
    overflow: hidden;
}

#giovanniscarpellino-cv a {
    text-decoration: none;
}

#giovanniscarpellino-cv .linkedin {
    display: none;
}

#giovanniscarpellino-cv .skills,
#giovanniscarpellino-cv .experiences .content{
    overflow: hidden;
}

#giovanniscarpellino-cv .experiences .content{
    max-height: 480px;
}

#giovanniscarpellino-cv .skills{
    max-height: 138px;
}