<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    <title>CV</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="title">
                <img src="./assets/images/gio.png" alt="Giovanni SCARPELLINO">
                <div>
                    <h1>Giovanni SCARPELLINO</h1>
                    <span class="sub-title">DevOps - {{ age }} ans</span>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="left">
                <div class="item">
                    <h2> Profil </h2>
                    <p>Développeur passionné avec une forte appétence pour le DevOps. J'aime concevoir des architectures scalables, automatiser les déploiements et garantir la stabilité des systèmes. Autodidacte et curieux, je suis toujours à la recherche de nouveaux défis techniques.</p>
                </div>

                <div class="contacts">
                    <h2>Contact</h2>
                    <div class="item">
                        <img src="./assets/images/phone-solid.svg" alt="Phone">
                        <a href="tel:+33777059145">07 77 05 91 45</a>
                    </div>
                    <div class="item">
                        <img src="./assets/images/at-solid.svg" alt="Email">
                        <a href="mailto:scarpellino.giovanni@gmail.com">scarpellino.giovanni@gmail.com</a>
                    </div>
                    <div class="item">
                        <img src="./assets/images/globe-solid.svg" alt="Website">
                        <a target="_blank" href="https://scarpellino.fr">scarpellino.fr</a>
                    </div>
                    <div class="item">
                        <img src="./assets/images/location-pin-solid.svg" alt="Address">
                        <span>2 Rue Maria Callas, 67380 Lingolsheim, France</span>
                    </div>
                </div>

                <div>
                    <h2>Formations</h2>
                    <div>
                        <h3>DUT Informatique</h3>
                        <p>
                            Belfort, France, 2016-2018 <br>
                            Matane, Canada, août - décembre 2017
                        </p>
                    </div>
                </div>

                <div>
                    <h2>Langues</h2>
                    <ul class="languages">
                        <li><strong>Français:</strong> Natif </li>
                        <li><strong>Anglais:</strong> C1 </li>
                    </ul>
                </div>

                <div>
                    <h2>Compétences</h2>
                    <div class="skills">
                        <div class="skill" v-for="skill in sortedSkills">
                            <span>{{ skill.name }}</span>
                            <div class="circles">
                                <span v-for="n in 5" class="circle" :class="{ active: n <= skill.level }"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="experiences">
                    <h2>EXPERIENCES</h2>
                    <ul class="content">
                        <li v-for="(experience, index) of experiences" :key="`experience-${index}`">
                            <h3> {{ experience.society }} <small>{{ experience.date }} </small></h3>
                            <ul>
                                <li v-for="(project, index) of experience.projects" :key="`project-${index}`">
                                    {{ project.label }}
                                    <ul>
                                        <li>
                                            {{ project.description }} <br>
                                            <img src="./assets/images/gear-solid.svg"> {{ project.techs.join(' + ') }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/cv.js"></script>

</body>

</html>